# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{py,java,scala,php,scss}]
indent_size = 4

[*.{yml,json,js,ts}]
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_size = 2

# Bazel Config
[{BUILD,WORKSPACE}]
indent_size = 4

# reStructuredText
[{*.rst,*.rst.txt}]
indent_size = 2

# MD-Files
[*.md]
indent_size = 2

